.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 400px;
  padding: 32px;
}
.card {
  width: 150px;
  border-radius: 8px;
  background: rgb(239, 132, 129);
  padding: 8px;
  margin: 0 0 32px;
  .word {
    font-weight: bold;
  }
  .desc {
    font-size: 12px;
    color: #fff;
  }
}