body {
    margin: 0;
}

.btn {
    display: inline-block;
    background: rgb(112, 145, 247);
    border-radius: 4px;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
}

#app {
    display: flex;
    height: 100vh;

    .nav-list {
        padding: 32px 0;
        width: 100px;
        height: 100%;
        background: rgb(228, 128, 58);

        .logo {
            display: block;
            margin: 0 auto 56px;
            width: 80px;
            height: 80px;
        }

        .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 80px;
            height: 80px;
            border-radius: 8px;

            &.active {
                background: rgb(193, 155, 47);
            }

            img {
                width: 60px;
                height: 60px;
            }
        }
    }

    .content {
        flex: 1;
        padding: 0 16px;
    }
}

.dialog {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    background: #fff;
    border-radius: 4px;
    padding: 16px;
    z-index: 9;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

    &.active {
        display: block;
    }
}
.popup {
    position: fixed;
    top: 0;
    left: 60%;
    display: flex;
    .content {
        font-size: 28px;
        font-weight: bold;
    }
    img {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    .timer {
        padding: 16px 16px 8px;
        margin: 0 32px 0 0;
        background: rgb(247, 201, 142);
        border-radius: 16px;
    }
    .music {
        padding: 16px 16px 8px;
        border-radius: 16px;
        background: rgb(161, 252, 205);
    }
}